@inherits PubsBase
@page "/pubs"

@using MudBlazor

<div hidden="@HideGrid">
	<GridToolbar ModuleName="ModuleNames.Pubs" />
</div>
<div hidden="@HideDetails">
	<DetailsToolbar ModuleName="ModuleNames.Pubs" />
</div>
<hr/>

<MudAlert id="alert-message">@Message</MudAlert>

<div hidden="@HideGrid">
	<PubsGrid Beers="@Pubs"></PubsGrid>
</div>

<div hidden="@HideDetails">
	<SalesOrderDetails SalesOrder="@SalesOrder"
	                   Pubs="@Pubs"
	                   Customers="@Customers"
	                   Warehouses="@Warehouses"></SalesOrderDetails>		
</div>